body {
  height: calc(100vh - 100px);

  background-color: #e5e5e5;
  border: 1px solid black;
  margin: 50px 50px;
  position: relative;
  overflow: hidden;
}

.greeting {
  text-align: center;
}

.greeting > .name {
  font-family: "Pacifico";
  font-size: 5em;
  margin: 0;
}

.greeting > .subheading {
  font-family: "Roboto Mono";
  font-size: 2em;
  margin: 0;
}

.socials-wrapper {
  position: absolute;
  bottom: 0;
  padding-bottom: 1em;
  width: 100%;
}

.socials {
  display: flex;
  justify-content: center;
}

a > img {
  height: min(3.5em, 20vh);
  width: min(3.5em, 20vw);
  padding: 0 0.75em;
}
