body {
  height: calc(100vh - 100px);

  background-color: #e5e5e5;
  border: 1px solid black;
  margin: 50px 50px;
  position: relative;
  overflow: hidden;
}

#greeting {
  padding: 1em 2em;
}

#greeting > .name {
  font-family: "Archivo", sans-serif;
  font-size: 5em;
  font-weight: 100;
  margin: 0;
}

#greeting > .subheading {
  font-family: "Roboto Mono";
  font-size: 2em;
  font-weight: 100;
  margin: 0;
}

.socials-wrapper {
  position: absolute;
  bottom: 0;
  padding-bottom: 1em;
  width: 100%;
}

.socials {
  display: flex;
  justify-content: center;
}

a > img {
  height: min(3.5em, 20vh);
  width: min(3.5em, 20vw);
  padding: 0 0.75em;
}

#about {
  position: absolute;
  right: 0;
  bottom: 20%;
  margin-right: 1em;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#navigation {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-right: 1em;
  margin-top: 10px;
  text-decoration: none;
}

#navigation a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  float: left;
  margin: 0 5px;
}

ul li a {
  text-decoration: none;
  color: black;
}

ul li:hover {
  border-bottom: 1px solid black;
}
