body {
	background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
	height: 100vh;
	margin: 0;
nav {
	display: flex;
	justify-content: center;
}

nav > a {
	font-size: 1.75em;
	background-color: none;
	border: none;
	color: white;
	padding: 20px 34px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 25px;
	vertical-align: center;
}

nav > a:hover {
	text-decoration: underline;
}

}

.greeting {
	text-align: center;
}

.greeting > .name {
	font-family: 'Pacifico';
	font-size: 5em;
	margin: 0;
}

.greeting > .subheading {
	font-family: 'Roboto Mono';
	font-size: 2em;
	margin: 0;
}

.socials-wrapper {
	position: fixed;
	bottom: 0;
	padding-bottom: 1em;
	width: 100vw;
}

.socials {
	display: flex;
	justify-content: center;
}

a > img {
	height: min(3.5em, 20vh);
	width: min(3.5em, 20vw);
	padding: 0 .75em;
}
