body {
  height: calc(100vh - 100px);

  background-color: #e5e5e5;
  border: 1px solid black;
  margin: 50px 50px;
  position: relative;
  overflow: hidden;
}

#gradient {
	height: calc(100vh - 100px);
	margin: 0;
	--primary-stripe-rgb: #e5e5e5;
	--secondary-stripe-rgb: #a9abab2d;
  
	background: linear-gradient(
	  -45deg,
	  var(--primary-stripe-rgb) 25%,
	  var(--secondary-stripe-rgb) 25%,
	  var(--secondary-stripe-rgb) 50%,
	  var(--primary-stripe-rgb) 50%,
	  var(--primary-stripe-rgb) 75%,
	  var(--secondary-stripe-rgb) 75%,
	  var(--secondary-stripe-rgb) 100%
	);
	background-size: 200px 200px;
	animation: pan 420s linear infinite;
}

@keyframes pan {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 200% 200%;
	}
}


#greeting {
  padding: 1em 2em;
}

#greeting > .name {
  font-family: "Archivo", sans-serif;
  font-size: 5em;
  font-weight: 100;
  margin: 0;
}

#greeting > .subheading {
  font-family: "Roboto Mono";
  font-size: 2em;
  font-weight: 100;
  margin: 0;
}

.socials-wrapper {
  position: absolute;
  bottom: 0;
  padding-bottom: 1em;
  width: 100%;
}

.socials {
  display: flex;
  justify-content: center;
}

a > img {
  height: min(3.5em, 20vh);
  width: min(3.5em, 20vw);
  padding: 0 0.75em;
}

#about {
  position: absolute;
  right: 0;
  bottom: 20%;
  margin-right: 1em;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#navigation {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-right: 1em;
  text-decoration: none;
}

#navigation a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  float: left;
  margin: 0 5px;
}

ul li a {
  text-decoration: none;
  color: black;
}

ul li:hover {
  text-decoration: underline;
}
