---
layout: default
---

<div class="home">
  <h1>{{ page.title }}</h1>
  <h4>A collection of my writings about programming, life, and thoughts in general</h4>
  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a> for more posts!</p>

  <div class="list">
    {%- assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" -%}

    {%- for year in posts_by_year -%}
    <div class="year-group">
      <h3>{{ year.name }}</h3>
      <ul style="list-style: none; padding-left: 0;">
        {%- for post in year.items -%}
        <li>
          <span class="post-date">{{ post.date | date: "%-m/%-d" }}</span> — <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </li>
        {%- endfor -%}
      </ul>
    </div>
    {%- endfor -%}
  </div>
</div>
