---
layout: default
---

<div class="home">
  <h1>{{ page.title }}</h1>

  <div class="list">
    {%- assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" -%}

    {%- for year in posts_by_year -%}
    <div class="year-group">
      <h3>{{ year.name }}</h3>
      <ul>
        {%- for post in year.items -%}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </li>
        {%- endfor -%}
      </ul>
    </div>
    {%- endfor -%}
  </div>
</div>
