---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h1>Sam Kravitz</h1>
  <p>Welcome to my site!</p>
  <p>
    I am a software engineer at <a href="https://athn.org">ATHN</a>, a medical technology nonprofit, where I work on
    systems used in the research of a variety of bleeding disorders.
  </p>
  <p>
    My favorite programming languages are Ruby, JavaScript, and C++.
    I am passionate about open source software and have contributed code to the <a
      href="https://github.com/SerenityOS/serenity/pull/20419">Ladybird</a> browser
    and have a small patch in <a href="https://phabricator.services.mozilla.com/D177832">Mozilla Firefox</a>. My
    favorite open source projects are <a href="https://github.com/dolphin-emu/dolphin">Dolphin</a> and, of course,
    Linux.
  </p>
  <p>
    Outside of work, I enjoy <a href="https://lichess.org/@/skravitz">chess</a>, basketball, and triathlon. In 2024, I
    completed my first Ironman triathlon in Madison, Wisconsin!
  </p>
  <p>
    I love talking about code, open source, and triathlon, so feel free to reach out to me (links below). I would love
    to get to know you, and thanks again for visiting my website!
  </p>
</div>
